.footer-copyright{
    text-align: center !important;
    background-color:#000 !important;
  }
  .page-footer{
    background-color:#202020 !important;
   
   
    
  }
  .iconF{
    font-size: 2.5rem !important;
  }
  .colorItemIn{
    color:#03a9f4 !important;
    text-align: center;
    font-size: .9rem !important;
  }
  
  .page-footer .row {
    text-align: center;
  }
  .white-text{
    border-bottom: solid #03a9f4 !important;
    border-bottom-width:2px !important ;
    width: 60%;
    font-size: 1.8rem;
    margin: 8px auto ;
    padding: 5px;
    font-weight: 700;
    /* font-family: 'PT Serif', serif; */
  }
  .borderR{
    border-radius:20px ;
  }
  
  
  